html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 12px;
}

div,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
span,
blockquote,
a,
img,
em,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote,
a,
caption,
em,
strong,
b,
i,
u {
    text-indent: 0;
    text-decoration: none;
    text-align: left;
}

ol,
ul {
    list-style: none;
}