                                                body,
                                                html,
                                                h1,
                                                h2,
                                                h3,
                                                h4,
                                                h5,
                                                h6,
                                                p,
                                                div {
                                                    font-family: 'roboto';
                                                }
                                                /*----------------------------*/
                                                /*NAVIGATION*/
                                                /*----------------------------*/
                                                
                                                #search-row {
                                                    display: grid;
                                                    grid-template-columns: 170px 78% 40px 1fr;
                                                    margin: 30px 3px 10px 30px;
                                                }
                                                
                                                #google-logo {
                                                    height: 35px;
                                                }
                                                
                                                #search-bar {
                                                    position: scroll;
                                                    height: 45px;
                                                    width: 675px;
                                                    border-radius: 30px;
                                                    border: 1px solid rgb(220, 208, 208);
                                                }
                                                
                                                #search-bar:hover {
                                                    box-shadow: 0 1px 1px 0 rgba(114, 113, 113, 0.24), 0 1px 5px 0 rgba(157, 157, 219, 0.452);
                                                }
                                                
                                                .search-bar-icon {
                                                    position: scroll;
                                                    background-image: url(https://img.icons8.com/material-sharp/24/000000/search.png), url(https://img.icons8.com/android/24/000000/microphone.png), url(https://img.icons8.com/ios/24/000000/vertical-line.png), url(https://img.icons8.com/material/24/000000/multiply--v2.png);
                                                    background-repeat: no-repeat;
                                                    background-position: 630px, 590px, 560px, 530px;
                                                }
                                                
                                                h1 {
                                                    font-size: 12px;
                                                }
                                                
                                                #apps {
                                                    height: 40px;
                                                    width: 20px;
                                                    color: rgb(150, 145, 145);
                                                }
                                                
                                                #profile-pic {
                                                    height: 40px;
                                                    width: 37px;
                                                    border-radius: 50%;
                                                    object-fit: cover;
                                                }
                                                
                                                #nav-row {
                                                    display: grid;
                                                    grid-template-columns: 60px 70px 70px 80px 90px 140px 80px 90px;
                                                    margin-top: 10px;
                                                    font-size: 14px;
                                                    margin-left: 190px;
                                                    margin-bottom: -10px;
                                                }
                                                
                                                .ion-icon-nav {
                                                    position: relative;
                                                    padding-right: 5px;
                                                    font-size: 16px;
                                                    top: 3px;
                                                }
                                                
                                                #blue {
                                                    color: rgb(0, 123, 255);
                                                    border-bottom: 3px solid rgb(0, 123, 255);
                                                    padding-bottom: 15px;
                                                    width: 60px;
                                                    position: relative;
                                                    right: 10px;
                                                }
                                                
                                                #grey {
                                                    color: rgb(94, 91, 91);
                                                }
                                                
                                                .margin {
                                                    margin-top: 15px;
                                                }
                                                /*----------------------------*/
                                                /*ROW*/
                                                /*----------------------------*/
                                                
                                                .row {
                                                    border-top: .5px solid rgb(224, 213, 213);
                                                    margin-top: -10px;
                                                }
                                                /*----------------------------*/
                                                /*SECTION LINKS*/
                                                /*----------------------------*/
                                                
                                                .links {
                                                    margin: 15px 550px 10px 220px;
                                                }
                                                
                                                #results {
                                                    font-size: 10px;
                                                    margin-bottom: 30px;
                                                }
                                                
                                                h2 {
                                                    color: rgb(150, 145, 145);
                                                }
                                                
                                                h4 {
                                                    font-size: 20px;
                                                    margin-top: -8px;
                                                    color: rgb(16, 16, 191);
                                                    overflow: ellipsis;
                                                }
                                                
                                                h4:hover {
                                                    text-decoration: underline;
                                                }
                                                
                                                h3 {
                                                    color: rgb(94, 91, 91);
                                                    font-size: 14px;
                                                }
                                                
                                                p {
                                                    font-size: 15px;
                                                    color: rgb(94, 91, 91);
                                                    margin-top: -20px;
                                                    line-height: 1.5;
                                                }
                                                
                                                .link-text {
                                                    margin-bottom: 30px;
                                                    margin-top: 30px;
                                                }
                                                /*----------------------------*/
                                                /*VIDEOS*/
                                                /*----------------------------*/
                                                
                                                h5 {
                                                    font-size: 20px;
                                                }
                                                
                                                .videos {
                                                    margin: 0 450px 2px 220px;
                                                }
                                                
                                                .vid-flex {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    border-radius: 20px;
                                                }
                                                
                                                .border {
                                                    border: 1px solid rgb(224, 213, 213);
                                                    border-radius: 10px;
                                                    overflow: hidden;
                                                    z-index: 1;
                                                    height: 350px;
                                                    width: 400px;
                                                    margin-right: 30px;
                                                }
                                                
                                                .vid-text {
                                                    padding: 20px 15px 20px 15px;
                                                    font-size: 17px;
                                                }
                                                
                                                .black-span {
                                                    color: black;
                                                }
                                                
                                                .p-vid {
                                                    font-size: 15px;
                                                    color: rgb(94, 91, 91);
                                                    margin-top: -30px;
                                                    padding: 20px 15px 0 15px;
                                                    position: relative;
                                                    top: 25px;
                                                }
                                                
                                                #padding {
                                                    padding-top: 20px;
                                                    padding-bottom: 40px;
                                                }
                                                
                                                .arrow-btn {
                                                    margin-top: 170px;
                                                    margin-left: 630px;
                                                    z-index: 999;
                                                    position: absolute;
                                                }
                                                
                                                .arrow {
                                                    font-size: 20px;
                                                    color: rgb(94, 91, 91);
                                                    background-color: white;
                                                    padding: 10px;
                                                    border-radius: 50%;
                                                    box-shadow: 0 6px 6px 0 rgba(114, 113, 113, 0.24), 1px 1px 5px 1px rgba(157, 157, 219, 0.452);
                                                }
                                                
                                                .arrow:hover {
                                                    color: black;
                                                }
                                                /*----------------------------*/
                                                /*QUESTION LIST*/
                                                /*----------------------------*/
                                                
                                                .border-2 {
                                                    border: 1px solid rgb(224, 213, 213);
                                                    padding-left: 20px;
                                                    color: rgb(65, 60, 60);
                                                }
                                                
                                                .q-a {
                                                    padding: 10px;
                                                    margin: -1px 0 -1px 0;
                                                    font-size: 15px;
                                                    color: rgb(65, 60, 60);
                                                    border-radius: 10px;
                                                }
                                                
                                                #feedback-effect {
                                                    font-size: 12px;
                                                    float: right;
                                                }
                                                
                                                .bottom-arrow {
                                                    float: right;
                                                    padding-right: 20px;
                                                }
                                                /*----------------------------*/
                                                /*IMAGES SECTION-BTN*/
                                                /*----------------------------*/
                                                
                                                .flex-container {
                                                    display: flex;
                                                    margin-top: -40px;
                                                    font-size: 18px;
                                                    justify-content: space-between;
                                                }
                                                
                                                h6 {
                                                    color: rgb(65, 60, 60);
                                                }
                                                
                                                .btn {
                                                    border: 1px solid rgb(224, 213, 213);
                                                    padding: 10px;
                                                    border-radius: 20px;
                                                }
                                                
                                                .btn:hover {
                                                    background-color: rgba(138, 149, 185, 0.103);
                                                }
                                                
                                                .btn:active {
                                                    box-shadow: 0 6px 6px 0 rgba(114, 113, 113, 0.24), 1px 1px 5px 1px rgba(157, 157, 219, 0.452);
                                                }
                                                
                                                .flex {
                                                    text-align: center;
                                                }
                                                
                                                #lin-grad {
                                                    background: -webkit-linear-gradient( left, rgb(84, 76, 76), rgba(245, 245, 245, 0));
                                                    -webkit-background-clip: text;
                                                    -webkit-text-fill-color: transparent;
                                                }
                                                
                                                .arrow-btn-2 {
                                                    margin-top: 26px;
                                                    margin-left: 630px;
                                                    z-index: 999;
                                                    position: absolute;
                                                }
                                                /*----------------------------*/
                                                /*IMAGES SECTION-IMAGE*/
                                                /*----------------------------*/
                                                
                                                .arrow-btn-3 {
                                                    margin-top: 30px;
                                                    margin-left: 630px;
                                                    z-index: 999;
                                                    position: absolute;
                                                }
                                                
                                                .flex-container-2 {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    margin-top: -15px;
                                                }
                                                
                                                .images {
                                                    object-fit: cover;
                                                    width: 160px;
                                                    height: 100px;
                                                    border-radius: 5px;
                                                }
                                                
                                                #link-bottom {
                                                    margin-top: 20px;
                                                    display: flex;
                                                    justify-content: space-between;
                                                }
                                                
                                                #arrow-right {
                                                    position: relative;
                                                    top: 6px;
                                                    font-size: 25px;
                                                }
                                                
                                                #report-img {
                                                    margin-top: -1px;
                                                    font-size: 12px;
                                                    color: rgba(124, 122, 122, 0.815);
                                                }
                                                
                                                #report-img:hover {
                                                    color: rgb(85, 81, 81);
                                                }
                                                /*----------------------------*/
                                                /*MORE LINKS*/
                                                /*----------------------------*/
                                                
                                                .smaller {
                                                    font-size: 15px;
                                                }
                                                
                                                #grid-container {
                                                    display: grid;
                                                    grid-template-columns: 1fr 1fr;
                                                }
                                                /*----------------------------*/
                                                /*GOOGLE LOGO*/
                                                /*----------------------------*/
                                                
                                                #container-google {
                                                    margin-left: 370px;
                                                }
                                                
                                                #logo {
                                                    font-size: 30px;
                                                    font-weight: bold;
                                                    letter-spacing: -2px;
                                                    margin-right: 40px;
                                                }
                                                
                                                #chevron-right {
                                                    position: relative;
                                                    left: 10px;
                                                    color: rgb(0, 123, 255);
                                                    font-size: 18px;
                                                }
                                                
                                                #numbers-container {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    width: 240px;
                                                    margin-left: 30px;
                                                    margin-top: 15px;
                                                    top: 10px;
                                                }
                                                
                                                .numbers {
                                                    font-size: 14px;
                                                    color: rgb(0, 123, 255);
                                                }
                                                
                                                #next {
                                                    letter-spacing: 1px;
                                                    position: relative;
                                                    left: 50px;
                                                }
                                                
                                                #black-c {
                                                    color: black;
                                                }
                                                /*----------------------------*/
                                                /*FOOTER*/
                                                /*----------------------------*/
                                                
                                                #black {
                                                    font-weight: 500;
                                                    color: black;
                                                }
                                                
                                                .color-hover:hover {
                                                    color: black;
                                                }
                                                
                                                .footer-container {
                                                    background-color: rgba(189, 189, 189, 0.381);
                                                    border-top: 1px solid rgb(204, 198, 198);
                                                    left: 0;
                                                    bottom: 0;
                                                    width: 100%;
                                                    margin-top: 90px;
                                                    height: 50px;
                                                    right: 0px;
                                                    margin-bottom: 0px;
                                                    display: block;
                                                }
                                                
                                                #footer-text-2 {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    width: 100%;
                                                }